{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BloodDonation</title>
    <link rel="stylesheet" href="{% static 'register.css' %}">
</head>
<body>
    <form action="/registeruser" method="POST">
        {% csrf_token %}
        <h1>Register</h1>
        <h3>{{message}}</h3>
        <input name="name" placeholder="Username" />
        <input name="age" placeholder="Age"/>
        <input name="email" placeholder="Email"/>
        <input name="password" placeholder="Password"/>
        <input name="phone" placeholder="Phone"/>
        <button type="submit">LOGIN</button>
        <a >If you don't have an account</a>
    </form>
</body>
</html>